body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 120%;
}

a {
  color: #0f5895;
  text-decoration: none;
  transition: color 0.1s;
  font-weight: bolder;
}

a:hover {
  color: rgb(145, 173, 211);
}

button {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  font-size: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #227ac3;
  border-radius: 5px;
  padding: 2px 10px;
  color: white;
  border: 0;
  transition: background-color 0.1s;
}

button:hover {
  background-color: #43b1ff;
}
#question-title {
  color: #0f5895;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.choices button {
  display: block;
  width: 350px; /* Added style to choices button */
  height: 50px;
}

input[type="text"] {
  font-size: 100%;
}

ol {
  padding-left: 0px;
  max-height: 400px;
  overflow: auto;
}

li {
  padding: 5px;
  list-style: decimal inside none;
  list-style-type: none;
}

li:nth-child(odd) {
  background-color: #f3edfc;
}

.wrapper {
  margin: 100px auto 0 auto;
  max-width: 600px;
}
.wrapper2 {
  margin: 100px auto 0 auto;
  max-width: 600px;
  color: #0f5895;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.hide {
  display: none;
}

.start {
  text-align: center;
  color: #0f5895;
}

.scores {
  position: absolute;
  top: 10px;
  left: 10px;
}

.feedback {
  font-style: italic;
  font-size: 120%;
  margin-top: 20px;
  padding-top: 10px;
  color: gray;
  border-top: 2px solid #ccc;
}

.timer {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #0f5895;
  font-weight: bolder;
}

#end-screen {
  color: #0f5895;
  font-family: Georgia, "Times New Roman", Times, serif;
}
